# ignore Nextflow cache and logs
.nextflow/
.nextflow.log*

# ignore Singularity cache
singularity_cache/

# ignore large motif mapping files
*motif_mappings*.bed

# ignore test cache
.nf-test/

# ignore test outputs
tests/outputs/
