# ignore Nextflow cache and logs
.nextflow/
.nextflow.log*

# ignore Singularity cache
singularity_cache/

# ignore large motif mapping files
*motif_mappings*.bed

# ignore icres files (too large for repo)
*icres*.bed

# ignore iCREs output files (confidentiality until publication)
example/outputs_icres/*
!example/outputs_icres/.gitkeep

# ignore nf-test executable
nf-test

# ignore test cache
.nf-test/

# ignore test outputs
tests/outputs/

# ignore SLURM output and error files
slurm*.out
slurm*.err

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# python cache and compiled files
__pycache__/
*.pyc
