process.container = "vibpsb/mini-ac:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
}

workDir = './work'

params {

    //// Output folder
    OutDir = "$projectDir/example/outputs"

    //// Required input
    ACR_dir = "$projectDir/example/inputs/acr_files/"

    //// Optional input
    // Differential expression data
    DE_genes = true
    DE_genes_dir = "$projectDir/example/inputs/de_files"
    One_DE_set = true
    // Expression data
    Filter_set_genes = true
    Set_genes_dir = "$projectDir/example/inputs/exp_genes_files"
    One_filtering_set = true

    //// Prediction parameters
    Bps_intersect = false
    // P_val = 0.01


    //// Prediction parameters only genome-wide
    Second_gene_annot = false
    Second_gene_dist = 500
}

executor {
    name = 'local'
}

/// WHEN USING HPC SGE UNCOMMENT THE CODE BELOW

// executor {
//     name = 'sge'
//     queueSize = 25
// }


// process {
//     withName: get_ACR_shufflings {
//         clusterOptions = '-l h_vmem=4G'
//     }
//     withName: getStats {
//         clusterOptions = '-l h_vmem=10G'
//     }
//     withName: getStats_bps {
//         clusterOptions = '-l h_vmem=50G'
//     }
//     withName: getNetwork {
//         clusterOptions = '-l h_vmem=20G'
//     }
//     withName: filterSetOfGenes {
//         clusterOptions = '-l h_vmem=5G'
//     }
//     withName: GOenrichment {
//         clusterOptions = '-l h_vmem=5G'
//     }
//     withName: getIntegrativeOutputs {
//         clusterOptions = '-l h_vmem=3G'
//     }
//     }