process.container = "vibpsb/mini-ac:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
}

workDir = './work'

params {

    //// Output folder
    OutDir = "$projectDir/example/outputs_icres"

    //// Required input
    Gene_list_dir = "$projectDir/example/inputs/gene_set_files"

    //// Optional input
    // Differential expression data
    DE_genes = false
    DE_genes_dir = "$projectDir/example/inputs/de_files"
    One_DE_set = true
    // Expression data
    Filter_set_genes = false
    Set_genes_dir = "$projectDir/example/inputs/exp_genes_files"
    One_filtering_set = true

    //// Prediction parameters
    Bps_intersect = false


    //// Prediction parameters only genome-wide
    Second_gene_annot = false
    Second_gene_dist = 500
}

executor {
    name = 'local'
}

/// WHEN USING HPC SGE UNCOMMENT THE CODE BELOW

// executor {
//     name = 'sge'
//     queueSize = 25
// }


// process {
//     withName: GENE_LIST_TO_ICRES_BED {
//         clusterOptions = '-l h_vmem=4G'
//     }
//     withName: get_ACR_shufflings {
//         clusterOptions = '-l h_vmem=4G'
//     }
//     withName: getStats {
//         clusterOptions = '-l h_vmem=10G'
//     }
//     withName: getStats_bps {
//         clusterOptions = '-l h_vmem=50G'
//     }
//     withName: getNetwork {
//         clusterOptions = '-l h_vmem=20G'
//     }
//     withName: filterSetOfGenes {
//         clusterOptions = '-l h_vmem=5G'
//     }
//     withName: GOenrichment {
//         clusterOptions = '-l h_vmem=5G'
//     }
//     withName: getIntegrativeOutputs {
//         clusterOptions = '-l h_vmem=3G'
//     }
//     }


// WHEN USING HPC SLURM UNCOMMENT THE CODE BELOW

// executor {
//     name = 'slurm'
//     queueSize = 25
// }


// process {
//     withName: GENE_LIST_TO_ICRES_BED {
//         clusterOptions = '--mem 4G'
//     }
//     withName: get_ACR_shufflings {
//         clusterOptions = '--mem 4G'
//     }
//     withName: getStats {
//         clusterOptions = '--mem 10G'
//     }
//     withName: getStats_bps {
//         clusterOptions = '--mem 50G'
//     }
//     withName: getNetwork {
//         clusterOptions = '--mem 20G'
//     }
//     withName: filterSetOfGenes {
//         clusterOptions = '--mem 5G'
//     }
//     withName: GOenrichment {
//         clusterOptions = '--mem 5G'
//     }
//     withName: getIntegrativeOutputs {
//         clusterOptions = '--mem 3G'
//     }
//     }
