/*
===========================================================================
    Nextflow config file for running tests in GitHub Actions (docker)
===========================================================================
*/

process.container = "vibpsb/mini-ac:latest"
docker.enabled = true

workDir = "${System.getenv('RUNNER_TEMP')}/MINI-AC"

executor {
    name = 'local'
}
