/*
===========================================================================
    Deafult Nextflow config file for running tests (using Singularity)
===========================================================================
*/

process.container = "vibpsb/mini-ac:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
    runOptions = "--bind ${System.getenv('TMPDIR')}"
}

workDir = "${System.getenv('TMPDIR')}/MINI-AC"

executor {
    name = 'local'
}
