/*
===========================================================================
    Nextflow config file for running tests (GitHub Actions workflow)
===========================================================================
*/


process.container = 'vibpsb/mini-ac:latest'

workDir = "${System.getenv('TMPDIR') ?: '/tmp'}/MINI-AC"

executor {
    name = 'local'
}

profiles {

    default {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "singularity_cache"
            runOptions = "--bind ${System.getenv('TMPDIR') ?: '/tmp'}"
        }
        docker.enabled = false
    }

    gh-ci {
        docker.enabled = true
        singularity.enabled = false
        workDir = "${System.getenv('RUNNER_TEMP') ?: '/tmp'}/MINI-AC"
    }

}
