/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process.container = "vibpsb/mini-ac:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
    runOptions = "--bind $TMPDIR"
}

workDir = "$TMPDIR/MINI-AC"

// WHEN USING HPC SLURM UNCOMMENT THE CODE BELOW

executor {
    name = 'slurm'
    queueSize = 25
}

process {
    withName: get_ACR_shufflings {
        clusterOptions = '--mem 4G'
    }
    withName: getStats {
        clusterOptions = '--mem 10G'
    }
    withName: getStats_bps {
        clusterOptions = '--mem 50G'
    }
    withName: getNetwork {
        clusterOptions = '--mem 20G'
    }
    withName: filterSetOfGenes {
        clusterOptions = '--mem 5G'
    }
    withName: GOenrichment {
        clusterOptions = '--mem 5G'
    }
    withName: getIntegrativeOutputs {
        clusterOptions = '--mem 3G'
    }
}
