/*
========================================================================================
    Nextflow config file for running tests (GitHub Actions workflow)
========================================================================================
*/

process.container = "vibpsb/mini-ac:latest"
singularity {
    enabled = true
    cacheDir = "singularity_cache"
    autoMounts = true
    runOptions = "--bind %TMP%"
}

workDir = "%TMP%/MINI-AC"

executor {
    name = 'local'
}
